*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #edede9;
    color: #edede9;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #264653;
    height: 100px;
}

h1{
    font-size: 35px;
}

header p{
    font-size: 25px;
    font-weight: 800;
}

nav a{
    text-decoration: none;
    color: #edede9;
    padding-left: 15px;
}

nav a:hover{
    color: #219ebc;
}